@font-face {
    font-family: 'MarkOT-Bold';
    src:url('./assets/Fontes/MarkOT-Bold/MarkOT-Bold.eot') format('embedded-opentype'), 
        url('./assets/Fontes/MarkOT-Bold/MarkOT-Bold.woff') format('woff'), 
        url('./assets/Fontes/Fontes/MarkOT-Bold/MarkOT-Bold.ttf')  format('truetype'), 
        url('./assets/Fontes/Fontes/MarkOT-Bold/MarkOT-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }


@font-face {
    font-family: 'MarkPro';
    src: url('./assets/Fontes//MarkPro/MarkPro.eot') format('embedded-opentype'),  
        url('./assets/Fontes/MarkPro/MarkPro.woff') format('woff'), 
        url('./assets/Fontes/MarkPro/MarkPro.ttf')  format('truetype'), 
        url('./assets/Fontes/MarkPro/MarkPro.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'MarkPro';
}

h2 {
    font-family: 'MarkOT-Bold' ;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}


.slide__1{
background-color: #d8ffff;
max-width: 100%;
margin: 0 auto;
display: flex !important;
}

.partners{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 125px;
}

.apoio__img__two{
    margin: 15px;
}

.apoio__img {
    width: 100px;
    height: 110px;
    margin: 10px;
}

.apoio__img__maior {
    width: 222px;
    height: 50px;
    margin: 23px;
}

.apoio__img__1{
    width: 60px;
}

.apoio__img__2{
    width: 150px;
}

.my-slider {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.content__title{
    color: #793df5;
    margin: 15px;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    
}


.btn-purple{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    background: #793df5;
    cursor: pointer;
    transition: .5s; 
    border: none;
    width: 235px;
    margin: 15px;
}

.btn-purple:hover{
    background-color: #a680f4;
}

.section__img{
    width: 120px;   
    height: 120px;
    border-radius: 100%;
    border: 2px solid #a680f4;
    background-color: #fff;
    margin: 15px;
}


.section__content{
    margin-top: 50px;
    flex-direction: column;
    display: flex;   
    margin-left: 200px;
    width: 30%;
    
    
}

.text__content{
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7f7f7f;
    padding-bottom: 10px;
}

.text__content__partners{
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #7f7f7f;
    padding-bottom: 10px;
    text-align: center;
}

.tns-nav {
    z-index: 99;
    padding: 20px;
    position: relative;
    text-align: center;
    order: 2;
    background-color: transparent;
    margin-top: -80px;
}

.tns-outer {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.tns-outer [data-action] {
    display: none;
}

.tns-nav > button {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 100%;
}

.left, .right {
    padding: 30px 0px;
    border: none;
    background-color: transparent;
}

.my-slider {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}


.tns-outer {
    margin: 0 auto;
    height: 150vh;
}

.section__icon{
    display: flex;
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.bus{
    display: flex;
    flex-direction: column;
}

.img__bus{
    width: 745px;
    margin-top: -60px;
    margin-left: 30px;
}

.slide__2{
    background-image: url(img/Artboard\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section__slide2{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.video__slide2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 45%;
    margin-left: 70px;
    margin-top: 100px;
}

.text__slide2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 41%;
    margin-top: 100px;

}

.slide__3{
    background-image: url(img/Artboard\ 15.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.text__slide3{
    width: auto;
    height: auto;
    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    padding: 20px;
}

.content__title__slide3{
    color: #ffffff;
    margin: 15px;
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
}

.content__slide3{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: start;
    margin-left: 100px;
    margin-top: 100px;
}

.btn-orange{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    background: #f4a845;
    cursor: pointer;
    transition: .5s; 
    border: none;
    width: 360px;
    margin: 15px;
}

.btn-orange:hover{
    background-color: #ff9100;
}

.content__app__img__slide1{
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    margin-top: -120px;
    margin-right: 70px;
}

.content__app__img__slide3{
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    margin-top: 65px;
    margin-right: 70px;
}


.app__img{
    width: 150px;
    height: 50px;
}
/* Responsive */

@media (max-width: 420px) {
    .container {
        max-width: 90%;
    }

}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }

}