* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


body {
    margin: 0;
}

.navegacao {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.navegacao__logo {
    width: 13%;
}

.navegacao__conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegacao__menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;   
}

.menu__link {
    padding: 0 0 0 35px;
}

.menu__botao {
    border-radius: 25px;
    padding: 10px 24px;
    margin-left: 10px;
}

.branco {
    border: #793df5 solid 1px; 
}

.roxo {
    background-color: #793df5;
    color: #ffffff;
}


.container {
    width: 100%;
}

h2 {
    padding-bottom: 2%;
}

p {
    color: #6c6c70;
    font-size: 1.25rem;
}

.science {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.science__method {
    display: flex;
    flex-direction: column;
    background-image: url("../img/paicinza.png");
    background-position: right;
    padding-bottom: 2%;
    background-repeat: no-repeat;
}

.self {
    width: 100%;
    max-width: 100%;
    background-color: #cbcbcb;    
}

.self__curve {
    background-color: #cbcbcb;
    height: 150px;
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    bottom: 150px;
    z-index: -1;
}

 h2 {
    color:#793df5;
    font-size: 2.8125rem;
    font-weight: bold;
}

.science h1 {
    color:#793df5;
    width: 40%;
    padding-bottom: 2%;
    font-size: 3.125rem;
    font-weight: bold;
}

.science__p {
    width: 35%;
    padding-bottom: 2%;
}
.science__button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #793df5;
    border: none;
    border-radius: 16px;
    color: #fff;
    padding: 1.5vh 0;
    width: 17vw;
}

.about {
    display: flex;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.about__position {
    margin-top: -8%;
}
.about__purple {
    align-self: normal;
}
.about__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #793df5;
    color: #fff;
 }

 .about_p {
    margin-top: 28px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
 }

 .about__summary {
    width: 50%;
    margin:0 2%;
    max-width: 100%;
 }

 .photos {
    width: 360px;
    max-width: 100%;
    position: relative;
 }

 .figure__mirror {
    width: 300px;
    max-width: 100%;
    position: relative;
 }

 .bond {
    display: flex;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    flex-direction: row-reverse;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 2%;
 }

 .bond__purple {
    position: absolute;
    right: 10px;
    
 }

 .about__figure {
     position: relative;
 }

 .about__circle-white {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
 }

 .figure {
    margin-top: 19%;
    margin-left: -3%;
 }

 .about__bonde {
    margin-top: 20%;
 }

 .about__orientation {
    margin-top: 18%;
 }